nav {
  position: relative;
  height: 130px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  // border-bottom: 2px solid white;

  img {
    width: 150px;
    height: 112px;
    margin: 35px;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .menu-item {
      width: 50%;
      height: 35px;
      margin: 90px 60px;
      // border-radius: 10px;
      // text-align: center;
      vertical-align: middle;
      font-size: 39px;
      transition: 100ms ease-out;

      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}
