@import "./variables";

.player {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  border-top: 1px solid white;
  background-color: black;
  z-index: 100;
  .track-info {
    display: flex;

    .controls {
      position: relative;
      min-width: 150px;
      width: 10%;
      height: 50px;
    }
    .progress-container {
      position: relative;
      width: 30%;
      height: 50px;

      .progress {
        -webkit-appearance: none;
        width: 80%;
        height: 10px;
        background-color: black;
        border: 1px solid white;
      }
      .progress::-moz-range-thumb {
        width: 25px;
        height: 34px;
        border: 0;
        // border-radius: 50%;
        background-image: url("/images/bbylien-124x93.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .progress::-moz-range-progress {
        background-color: white;
        height: 100%;
      }
    }
    .info {
      position: relative;
      width: 30%;
      height: 50px;
      display: flex;

      .cover {
        padding: 5px;
      }
      .labels {
        position: relative;
        display: flex;
        flex-direction: column;
        h2.title {
          font-size: 20px;
          margin-top: 5px;
          margin-bottom: -5px;
        }
        h2.author {
          margin-top: -5px;
          color: gray;
        }
      }
    }

    .volume-icon-container {
      position: relative;
      width: 5%;
      height: 50px;
    }

    .volume-container {
      position: relative;
      width: 20%;
      height: 50px;

      .volume {
        -webkit-appearance: none;
        width: 80%;
        height: 10px;
        background-color: black;
        border: 1px solid white;
      }
      .volume::-moz-range-thumb {
        width: 25px;
        height: 34px;
        border: 0;
        // border-radius: 50%;
        background-image: url("/images/bbylien-124x93.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .volume::-moz-range-progress {
        background-color: white;
        height: 100%;
      }
    }

    // input[type="range"]::-webkit-slider-thumb {
    //   background-image: url("/images/bbylien-124x93.png");
    // }
  }
}
